{% extends 'layouts/partials/base.html.twig' %}

{% block title 'Profil' %}

{% block body %}
<div class="row">
   <div class="col-md-6 mx-auto text-center">
        <h1 class="my-5">Profile</h1>

        {# <img src="{{ app.user.gravatar}}" alt="{{app.user.fullName}}'s Avatar " 
             class="shadow rounded-circle">  #}

        <img src="{{ asset('/uploads/pins/woman.png')}}" alt=" 's Avatar " 
             width="150" class="shadow rounded-circle"> 

        <p class="mt-5 lead"> {{app.user.email}} </p> <hr>

        <h2> {{app.user.fullName}} </h2>

        <p><small> Account created on {{app.user.createdAt|date('d/m/Y ')}} <p></small>

        <p class="text-decoration-none">
            <a href="{{path('app_account_edit')}}" class="btn btn-secondary"> Edit account </a>  <a href="" class="btn btn-secondary"> Change password </a>
        </p>

   </div>
</div>
{% endblock %}
