{% extends 'layouts/partials/base.html.twig' %}

{% block title 'Find all the best pins on earth! ' %}

{% block body %}
    {% if pins|length > 0 %}
        <h1 class="mb-4 text-center text-muted"> {{pluralize(pins|length, 'Pin')}} </h1>
        
        {% for row in pins|batch(3) %}
            <div class="row mb-5">
                {% for pin in row %}
                    <div class="col-md-4">
                        <article class="pin bg-white rounded shadow">
                            <div class="p-3">
                                <div class="mw-100 rounded-top overflow-hidden">
                                    <a href="{{ path('app_pins_show', {'id': pin.id}) }}">
                                        {# si on a pin.imageName alors on va prendre l'img en question sinon on utilise l'img / def  #}
                                        <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/test.jpg')) |
                                        imagine_filter('squared_thumbnail_medium') }}" class="w-100" alt="{{pin.title}}" />
                                    </a>
                                </div>

                                <h2 class="h5 pl-3 pt-3"><a href="{{ path('app_pins_show', {id: pin.id}) }}" class="text-secondary text-decoration-none "> {{pin.title}}</a> </h2>
                                {# <p>  {{pin.description|u.truncate(50, '...', false)}} </p> #}
                            
                                <p class="pl-3 pb-3 text-muted"><small>Submitted by {{pin.user.fullName}}</small> </p>
                                {# <p> <span class="test">Submitted [OWNER FULL NAME ]  {{pin.createdAt|ago }}</span> </p> #}
                            </div>
                        </article>
                    </div>
                {% endfor %} 
            </div>
        {% endfor %} 
    {% else %}
        <p class="mt-5  h1 text-center"> No pin yet. <a href="{{ path('app_pins_create') }}">Be the first! </a>  </p>
    {% endif %}
{% endblock %}
