<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('build/assets/app.css') }}" rel="stylesheet">
        <link href="{{ asset('build/assets/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block javascripts %}      
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        
        {{ include('layouts/partials/_flash_messages.html.twig') }}

        {{ include('layouts/partials/_nav.html.twig') }} 

        <main role="main" class="container">
            {% block body %} {% endblock %}
        </main >
 
        {{ include('layouts/partials/_footer.html.twig') }} 
      
        <script src="{{ asset('/build/assets/bootstrap.bundle.min.js') }}" crossorigin="anonymous" defer ></script>
        <script src="{{ asset('/build/assets/app.js') }}" crossorigin="anonymous" defer ></script>
        <script src="{{ asset('/build/assets/jquery-2.2.3.min.js') }}" crossorigin="anonymous" ></script>
    </body>
</html>
